<div class="container">
  <h1 class="title">Calorie Calendar</h1>
  <h2 class="subtitle">Your shape asistant</h2>
  <img class="app__logo" src="assets/img/logo.png" alt="LoGa">
  <div class="container" style="max-width: 550px">
    <!--    <h2 class="text-center mb-5">Angular Login with Google</h2>-->
    <div *ngIf="isLoggedin === false">
      <div class="signin">
        <button type="button" (click)="loginWithGoogle()" class="btn btn-primary">
          <img src="assets/img/google_PNG19635.png" alt="" class="signin__google-logo">
          Login with Google
        </button>
      </div>
    </div>
    <div *ngIf="isLoggedin === true">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
      </div>
      <div class="wrapper">
        <button type="button" (click)="logOut()" class="btn btn-danger">Log Out</button>
        <button type="button" [routerLink]="['/profile']" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>

