<ng-container *ngIf="(meals$ | async) as meals">
<ng-container *ngIf="(date | findMealPipe:time:meals) as meal">

<div class="container" *ngIf="user$ | async as user">
  <div class="controls">
    <a class="control" [routerLink]="['/calendar']">Cancel</a>
  </div>

  <div class="form">
    <h1 class="form__title">{{!title? meal.title : title}}</h1>

    <div class="section">
      <p class="section__title">Kcal</p>
      <ng-container *ngIf="!this.isDay">
        <p class="amount " >
          {{meal.kcal}}
        </p>
      </ng-container>
      <p *ngIf="this.isDay"
         class="amount ">
        <span [class]="meal.kcal | fillPipe: user">{{meal.kcal}}</span> / {{user.minCal}}
      </p>
    </div>

    <div class="section">
      <p class="section__title">fats (gm)</p>
      <ng-container *ngIf="!this.isDay">
        <p class="amount " >
          {{meal.fats}}
        </p>
      </ng-container>
      <p *ngIf="this.isDay"
         class="amount ">
        <span [class]="meal.fats | fillPipe: user">{{meal.fats}}</span> / {{user.fats}}</p>
    </div>

    <div class="section">
      <p class="section__title">Protein (gm)</p>
      <ng-container *ngIf="!this.isDay">
        <p class="amount " >
          {{meal.proteins}}
        </p>
      </ng-container>
      <p *ngIf="this.isDay"
         class="amount ">
        <span [class]="meal.proteins | fillPipe: user">{{meal.proteins}}</span> / {{user.proteins}}
      </p>
    </div>

    <div class="section">
      <p class="section__title">Carbohydrates (gm)</p>
      <ng-container *ngIf="!this.isDay">
        <p class="amount" >
          {{meal.carbohydrates}}
        </p>
      </ng-container>
      <p *ngIf="this.isDay"
         class="amount">
        <span [class]="meal.carbohydrates | fillPipe: user">{{meal.carbohydrates}}</span> / {{user.carbohydrates}}
      </p>
    </div>

    <div class="section-image" *ngIf="!this.isDay">
      <ng-container *ngIf="!meal.image">
        <i  class="fa fa-image"></i>
      </ng-container>
      <img *ngIf="meal.image" [src]="meal.image" alt="" class="test">
    </div>

    <span class="day-view" *ngIf="this.isDay">
      <span class=" flex-container" *ngFor="let fmeal of generateMealsList(meals)">
        <div class="btn meal-info" [routerLink]="['/calendar', fmeal.date, fmeal.time, 'view']">
          <p class="meal-info__title"> {{fmeal.title}} </p>
          <div class="space-between">
            <p class="bold"> {{fmeal.kcal}} </p>
            <p class="bold"> {{fmeal.time}} </p>
          </div>
        </div>
        <button class="btn btn-danger width-25" (click)="deleteMealFromList(meal)"><i class="fa fa-stop-circle-o"></i></button>
      </span>
    </span>
  </div>
  <button *ngIf="time" class="margin-top btn btn-danger" (click)="deleteMeal()">Delete this meal</button>
</div>

</ng-container>
</ng-container>
