@import "src/app/colors";

.amount{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.blue{
  color: $primary;
}
.yellow{
  color: $yellow;
}
.red{
  color: $red;
}

.section{
  display: flex;
  flex-direction: column;
  margin-top: 0 !important;

  &__title{
    margin-bottom: 0 !important;
    color: #000000;
  }

  &-image{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 64px;

    width: 300px;
    height: 130px;
    background: $input-bg;

    img{
      height: 100%;
    }
  }
}

.meal-info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background: $primary;
  color: white;

  //width: 225px;
  width: 190px;
  height: 50px;
  padding: 2px 5px 5px;

  *{
    padding: 0;
    margin: 0;
  }

  .space-between{
    display: flex;
    justify-content: space-between;

    .bold{
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      //line-height: 19px;
    }
  }

  &__title{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF;
    //margin-bottom: 6px;
    //line-height: 16px;
  }

}

.width-25{
  width: 35px;
}

.flex-container{
  display: flex;
  margin-bottom: 16px;
}
