<ng-container *ngIf="meal$ | async as meal">

<div class="container">
  <div class="controls">
    <a class="control" [routerLink]="['/calendar']">Cancel</a>
    <a class="control" [routerLink]="['/calendar', +date, time, 'add']">Edit </a>
  </div>

  <div class="form">
    <h1 class="form__title">{{meal.title}}</h1>

    <div class="section">
      <p class="section__title">Kcal</p>
        <p class="amount " >
          {{meal.kcal}}
        </p>
    </div>
    <div class="section">
      <p class="section__title">fats (gm)</p>
        <p class="amount " >
          {{meal.fats}}
        </p>
    </div>
    <div class="section">
      <p class="section__title">Protein (gm)</p>
        <p class="amount " >
          {{meal.proteins}}
        </p>
    </div>
    <div class="section">
      <p class="section__title">Carbohydrates (gm)</p>
        <p class="amount" >
          {{meal.carbohydrates}}
        </p>
    </div>
    <div class="section-image">
      <ng-container *ngIf="!meal.image">
        <i  class="fa fa-image"></i>
      </ng-container>
      <img *ngIf="meal.image" [src]="meal.image" alt="" class="test">
    </div>
  </div>
  <button *ngIf="time" class="margin-top btn btn-danger" (click)="deleteMeal(meal)">Delete this meal</button>
</div>

</ng-container>
