<div class="stick-header">
  <app-calendar-header></app-calendar-header>
  <app-week-control ></app-week-control>
</div>
<div class="row-calendar">
    <div class="hours">
      <span class="hour" *ngFor="let hour of hours">{{hour}}</span>
    </div>
    <div class="calendar-grid" (swipeleft)="increase()" (swiperight)="decrease()">
      <span *ngFor="let date of week | async">
        <span *ngFor="let hour of hours">
          <span *ngIf="((date | handlePipe: hour)) as cell; else empty">
            <div class="calendar-grid__child active" (click)="navigateEmptyCell(date, hour)">
              {{cell.title}}
            </div>
          </span>
<!--          <span *ngIf="(date.date | handlePipe: hour) as cell; else empty">-->
<!--            <div class="calendar-grid__child active" (click)="navigateFilledCell(date.date, hour)">-->
<!--              <div class="cell-title">-->
<!--                  {{cell.title | shortTitle}}-->
<!--                </div>-->
<!--                <div class="cell-info">-->
<!--                  {{cell.kcal}}-->
<!--                </div>-->
<!--            </div>-->
<!--          </span>-->
          <ng-template #empty>
            <div class="calendar-grid__child" (click)="navigateEmptyCell(date, hour)"></div>
          </ng-template>
        </span>
      </span>
  </div>
</div>
