<div class="stick-header" *ngIf="columns$ | async as columns">
  <app-calendar-header [columns]="columns"></app-calendar-header>
  <app-week-control></app-week-control>
</div>
<div class="row-calendar">
  <div class="hours">
    <span class="hour" *ngFor="let hour of hours">{{hour}}</span>
  </div>
  <div class="calendar-grid" (swipeleft)="increase()" (swiperight)="decrease()">
    <span *ngFor="let date of week$ | async">
      <span *ngFor="let hour of hours">
        <ng-container *ngIf="columns$ | async as columns">
          <div class="calendar-grid__child active"
               *ngIf="(columns | handlePipe: hour: date) as cell; else empty"
               (click)="navigateFilledCell(cell.date, cell.time)">
            <div class="cell-title">
              {{cell.title | shortTitle}}
            </div>
            <div class="cell-info">
              {{cell.kcal}}
            </div>
          </div>
          <ng-template #empty>
            <div class="calendar-grid__child" (click)="navigateEmptyCell(date, hour)"></div>
          </ng-template>
        </ng-container>
      </span>
    </span>
  </div>
</div>
